/** {
	box-sizing: border-box;
}
*/
body { 
    padding-top: 70px; 
}

/*.navbar-brand {
	padding-left: 130px;
}*/


@media(min-width: 768px) {
	.smallDevice {
		display: none;
	}
}

@media(max-width: 767px) {
	.largeDevice {
		display: none;
	}
}

@media(max-width:991px){
	.categoria {
		display: none;
	}
}
